{% block body %}
<p>
    {% if user.gender == constant('\\AppBundle\\Entity\\Gender::GENDER_MAN') %}
        Уважаемый
    {% else %}
        Уважаемая
    {% endif %} {{ user.user.name }}, поздравляем Вас с днем рождения! От чыстага сэрца!
</p>
{% endblock %}
